<body>
  <header>
    <app-header></app-header>
  </header>

  <div class="cards">

    <app-card class="card-1" 
    titulo="Basic" 
    valores="19.99"
    tamanhoArmazenamento="500 GB Storage"
    usuarios="2 Users Allowed"
    sendArmazenamento="Send up to 3 GB"
    (eventButton)="buttonSnackBar()"></app-card>

    <app-card class="card-2" 
    titulo="Professional"
    valores="24.99"
    tamanhoArmazenamento="1 TB Storage"
    usuarios="5 Users Allowed"
    sendArmazenamento="Send up to 10 GB"
    (eventButton)="buttonSnackBar()"></app-card>

    <app-card class="card-3" 
    titulo="Master"
    valores="39.99"
    tamanhoArmazenamento="2 TB Storage"
    usuarios="10 Users Allowed"
    sendArmazenamento="Send up to 20 GB"
    (eventButton)="buttonSnackBar()"></app-card>

  </div>
</body>